@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
.menu-button {
  right: 20px;
  top: 25px;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  z-index: 1000;
  border: none;
  background: none;
  font-size: 0;
  line-height: 0;
  -webkit-tap-highlight-color: transparent; }

.menu-button:focus, nav ul li a:focus {
  outline: none; }

.menu-button:focus::-moz-focus-inner, nav ul li a:focus::-moz-focus-inner {
  border: none; }

.menu-button:focus.show-outline {
  outline: 3px solid #fff;
  outline-color: var(--outline-color);
  outline-offset: -3px; }

.menu-button span, .menu-button span::before, .menu-button span::after {
  display: inline-block;
  width: 26px;
  height: 4px;
  border-radius: 2px;
  background: #fff; }

.menu-button span.hamburger-transition {
  background: rgba(0, 0, 0, 0); }

.menu-button span {
  position: relative; }

.menu-button span::before {
  content: "";
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 8px;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.menu-button span.hamburger-transition::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.menu-button span::after {
  content: "";
  background: #fff;
  position: absolute;
  left: 0;
  top: 8px;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.menu-button span.hamburger-transition::after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.nav-wrapper {
  width: 100%;
  height: 96px;
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  justify-content: flex-end;
  position: absolute;
  z-index: 2; }

.navigation-full {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navigation-full ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    list-style: none; }
    .navigation-full ul li a {
      text-decoration: none;
      color: white; }
      .navigation-full ul li a:hover,
      .navigation-full ul li a :active {
        color: #efecc8; }

.navigation {
  display: flex;
  box-sizing: border-box;
  z-index: 2;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  color: white; }
  .navigation__icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    padding: 1rem;
    transition: background-color 0.3s ease;
    background-color: transparent; }
    .navigation__icon:hover {
      background-color: rgba(9, 3, 23, 0.98);
      transition: background-color 0.2s ease; }
  .navigation__list {
    list-style: none;
    margin: 0;
    transition: all ease-in-out 500ms;
    transform: translateY(-500px);
    padding: 0;
    opacity: 0;
    background: rgba(9, 3, 23, 0.98); }
    .navigation__list--item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      position: relative;
      opacity: 0;
      flex-direction: row;
      transition: all ease 200ms;
      margin: 1rem 0;
      width: 50px;
      max-height: 20vh; }
      .navigation__list--item p {
        position: absolute;
        opacity: 0;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        transform: translateX(-50px);
        background-color: rgba(9, 3, 23, 0.98);
        transition: all ease 300ms;
        width: 60px;
        z-index: 100;
        justify-self: center;
        text-align: center;
        padding: 1rem; }
      .navigation__list--item:hover {
        cursor: pointer; }
        .navigation__list--item:hover p {
          transform: translateX(-5rem);
          opacity: 1;
          transition: all ease-in-out 250ms;
          width: 60px;
          cursor: default; }
          @media (max-width: 767px) {
            .navigation__list--item:hover p {
              display: none; } }
  .navigation .home-icon,
  .navigation .profile-icon,
  .navigation .work-icon,
  .navigation .mail-icon {
    height: 30px;
    width: 30px;
    color: white;
    transition: opacity ease-in-out 300ms; }
    .navigation .home-icon:hover,
    .navigation .profile-icon:hover,
    .navigation .work-icon:hover,
    .navigation .mail-icon:hover {
      opacity: 0.8;
      cursor: pointer; }
  .navigation .active {
    background-color: rgba(9, 3, 23, 0.98); }
  .navigation .open {
    transform: translateY(0px);
    opacity: 1; }
    .navigation .open .navigation__list--item {
      opacity: 1;
      transition: opacity 350ms ease 350ms; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 112.5%; }

p {
  line-height: 1.5em; }

body {
  margin: 0;
  padding: 0;
  color: #fff; }

.layout {
  box-sizing: border-box;
  background: #11082b;
  margin: 0;
  padding: 0;
  min-height: 600px; }

.particles {
  position: fixed;
  overflow: hidden;
  background-color: #11082b;
  top: 0;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }

.rich-text a {
  text-decoration: none;
  color: #efecc8;
  font-weight: 400; }

.rich-text p {
  max-width: 750px;
  font-weight: 300;
  line-height: 34px;
  margin-top: 7px;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.84); }

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.button-primary {
  background-color: transparent;
  color: #e6e4ec;
  overflow: visible;
  border: 1px solid rgba(238, 232, 255, 0.57);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 767px) {
    .button-primary:hover {
      background-color: #fff;
      color: rgba(9, 3, 23, 0.98);
      cursor: pointer; } }

.about-page {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  padding: 100px 20px 0;
  background-color: #11082b;
  box-sizing: border-box; }
  .about-page a {
    text-decoration: none;
    display: inline-block;
    position: relative; }
  .about-page a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.84);
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0; }
  @media (min-width: 767px) {
    .about-page a:hover:after {
      width: 100%;
      left: 0; } }

.work-page {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1;
  padding: 100px 20px 0;
  background-color: transparent;
  box-sizing: border-box; }
  .work-page .img-container {
    display: flex;
    margin-top: 6rem;
    flex-direction: column; }
    .work-page .img-container hr {
      border: 0;
      width: 100%;
      margin: 2rem 0;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
      background: rgba(255, 255, 255, 0.25); }
  .work-page__grid {
    display: flex;
    align-items: center; }
    @media (max-width: 767px) {
      .work-page__grid {
        flex-direction: column; } }
    .work-page__grid--container {
      text-align: center;
      margin: 0 auto; }
      .work-page__grid--container h3 {
        display: inline-block;
        margin: 2rem 0 0;
        padding: 0; }
      .work-page__grid--container p {
        padding: 0;
        margin: 0 auto; }
      .work-page__grid--container ul {
        margin: 0;
        padding: 0;
        display: inline-block; }
        .work-page__grid--container ul li {
          margin: .5rem;
          display: inline-block;
          color: rgba(255, 255, 255, 0.84); }
      .work-page__grid--container .button-primary {
        margin: 2em 1em;
        width: 8rem; }
    .work-page__grid--img {
      object-fit: cover;
      height: 300px;
      width: 400px;
      border: 1px solid black;
      transition: transform ease 400ms;
      border-radius: 5px; }
      .work-page__grid--img:hover {
        transform: scale(1.015) skew(0.75deg); }
  .work-page__button-container {
    display: flex;
    justify-content: center; }
    .work-page__button-container .button-primary {
      margin: 2em 1em 4em;
      width: 10rem; }
      @media (max-width: 767px) {
        .work-page__button-container .button-primary {
          width: 70vw; } }
    @media (max-width: 767px) {
      .work-page__button-container {
        width: 100%;
        display: flex;
        justify-content: center; } }

body {
  margin: 0; }

.landing-page {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  padding: 100px 20px 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center; }
  .landing-page .page-wrapper {
    margin-left: 5rem; }
    @media (max-width: 767px) {
      .landing-page .page-wrapper {
        margin: 0 auto;
        text-align: center; } }
    @media (min-width: 1350px) {
      .landing-page .page-wrapper {
        margin: 0 auto;
        align-items: flex-end; } }
  .landing-page__title {
    color: #fff;
    font-size: 2.5em;
    margin: 0; }
    @media (max-width: 768px) {
      .landing-page__title {
        font-size: 1.6em; } }
    @media (min-width: 1350px) {
      .landing-page__title {
        text-align: center; } }
  .landing-page__subtitle {
    color: white;
    font-size: 23px;
    margin: 1rem 1px;
    opacity: 0.7;
    width: 90vw;
    max-width: 500px; }
    @media (max-width: 767px) {
      .landing-page__subtitle {
        margin: 0.5rem auto;
        font-size: 18px; } }
    @media (min-width: 1000px) {
      .landing-page__subtitle {
        width: 100%; } }
    @media (min-width: 1350px) {
      .landing-page__subtitle {
        text-align: center;
        margin: 1rem auto; } }
  @media (max-width: 767px) {
    .landing-page__button-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 1350px) {
    .landing-page__button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  .landing-page__button-container .button-primary {
    margin: 1rem 1.75rem 0 0;
    width: 200px; }
    @media (max-width: 767px) {
      .landing-page__button-container .button-primary {
        width: 80vw;
        margin: 0.5rem auto; } }
    @media (min-width: 1350px) {
      .landing-page__button-container .button-primary {
        margin: 1rem 1.75rem; } }


/*# sourceMappingURL=styles.chunk.css.map*/